@charset "utf-8";
/* CSS Document */

#firstBlock, #secondBlock, #thirdBlock, #forth4Block {

}

@media screen and (max-device-width: 80mm) and (orientation: portrait) {
	#firstBlock{
		text-align: center;

		background: #7535FB;
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
	}
	
	#secondBlock{
		text-align: center;
		background: #A377FF;
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
		
	}
	
	#thirdBlock{
		background: #D1BBFF;
		margin-left: 20%;
		width: 30%;
		float: left;

	}

	#forth4Block{
		background: #E9DFFF;

		width: 30%;
		float: left;
		
	
	}			
}
		
@media screen and (max-device-width: 160mm) and (orientation: portrait) and (min-device-width: 80mm){
	.firstBlock{
		background: #7535FB;
		text-align: center;
		display: block;	
		position: absolute;
		left: 10%;
		right: 10%;
		top: 0%;
		height: 25%;
		width: 80%;
	}

	.secondBlock{
		background: #A377FF;
		text-align: center;
		display: block;	
		position: absolute;
		left: 10%;
		right: 10%;
		top: 25%;
		height: 25%;
		width: 80%;
	}

	.thirdBlock{
		background: #D1BBFF;
		text-align: left;
		display: block;	
		position: absolute;
		left: 10%;
		right: 10%;
		top: 50%;
		height: 25%;
		width: 80%;
	}

	.forthBlock{
		background: #E9DFFF;
		text-align: left;
		display: block;	
		position: absolute;
		left: 10%;
		right: 10%;
		top: 75%;
		height: 25%;
		width: 80%;
	}
}
		
@media screen and (max-device-width: 200mm) and (orientation: landscape) {
	.firstBlock{
		background: #7535FB;
		text-align: center;
		display: block;	
		position: absolute;
		left: 10%;
		right: 50%;
		top: 0%;
		height: 50%;
		width: 40%;
	}

	.secondBlock{
		background: #A377FF;
		text-align: center;
		display: block;	
		position: absolute;
		left: 50%;
		right: 10%;
		top: 0%;
		height: 50%;
		width: 40%;
	}

	.thirdBlock{
		background: #D1BBFF;
		text-align: left;
		display: block;	
		position: absolute;
		left: 10%;
		right: 50%;
		top: 50%;
		height: 50%;
		width: 40%;
	}

	.forthBlock{
		background: #E9DFFF;
		text-align: left;
		display: block;	
		position: absolute;
		left: 50%;
		right: 10%;
		top: 50%;
		height: 50%;
		width: 40%;
	}
}
		
@media screen and (min-device-width: 200mm) {
	#firstBlock{
		text-align: center;

		background: #7535FB;
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
	}
	
	#secondBlock{
		text-align: center;
		background: #A377FF;
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
		
	}
	
	#thirdBlock{
		background: #D1BBFF;
		margin-left: 20%;
		width: 30%;
		float: left;

	}

	#forth4Block{
		background: #E9DFFF;

		width: 30%;
		float: left;
		
	
	}			
}


		


